* {
    margin : 0;
    padding : 0;
}

body {
    background-color: antiquewhite;
    display : flex;
}

div {
    width: 25%;
    margin : 50px auto;
    padding : 20px;
    border: 1px solid yellowgreen;
    border-radius: 15px;
    box-shadow: 10px 10px 8px 2px green;
}

div:hover {
    color: whitesmoke;
    text-shadow: 1px 1px 3px black;
    border: 1px solid darkgreen;
    background-color: lightgreen;
    box-shadow: 10px 10px 8px 2px darkgreen;
}

h3 {
    color : lime;
    text-shadow: 2px 2px 1px darkgreen;
}